body {
  background-color: #D1D1D1;
  display: block;
}
h1 {
  color: black;
  font-weight: bold;
}
/*Header med hamburgermeny og logo*/
#head {
  width: 100%;
  height: 70px;
  background-color: white;
}
#logo {
  margin: 5px;
  width: 150px;
  padding: 6px;
}
/*Navigasjon i head*/
nav{
  float: right;
  padding: 10px;
}
#menu li {
  display: inline;
}
#produktliste li {
  list-style-type: none;
}
#produktliste{
  width: 100%;
  text-align: right;
}
.bilder {
  width: 80px;
  float: left;
  padding: 10px;
}
/*Linjer i produktliste*/
.linje{
  width: 100%;
  height: 130px;
  background-color: white;
  margin-top: 10px;
}
@media screen and (min-width: 480px) and (max-width: 600px) {
  body {
    background-color: inherit;
  }
}
