* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #D1D1D1;
  display: block;
}
h1, h2, h3, button {
  color: black;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
}
h4 {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: black;
}

/*Header med hamburgermeny og logo*/

#head {
  width: 100%;
  height: 70px;
  background-color: white;
}
#logo {
  margin: 5px;
  width: 150px;
  padding: 6px;
}

/*Navigasjon i head*/

nav {
  float: right;
  padding: 10px;
}
#menu li {
  display: inline;
}
.produktliste {
  float: left;
  width: 90%;
  padding: 19px;
  height: 130px;
  margin-top: 10px;
  border-bottom-style: dotted;
  border-width: medium;
  border-color: #B5B0B0;
}

/*.produktliste p*/

#infotekst {
  /*float: right;*/
  font-family: Helvetica;
  /*padding-right: 335px;*/
  padding-left: 35%;
  font-size: 16px;
  width: 63%;
  margin-top: -35%;
}
#infotekst p {
  font-style: italic;
}

/*#kjopknapp, #huskeknapp {
  float: right;
}
#kjopknapp {
  margin-top: -10px;
  margin-right: 100px;

}
.kjop, .huskeliste {
  width: 140%;
}
#huskeknapp {
  /*margin-right: -160px;
  margin-top: -215px;*/


/*  margin-right: 25%;
margin-top: -65%;*/


/*padding-right: 25%;
}*/

.knapper {
  float: right;
  width: 160px;
  padding: 10px;
  padding-right: 20%;
  margin-top: 60%;
}
#bildeknapper {
  margin-top: -55%;
  margin-left: 10%;
}

/*#produktliste,*/

.tekst {
  width: 95%;
  margin: auto;
  text-align: left;
}
.bilder, .bilderm {
  width: 20%;
  border: solid 15px #FFF;
  border-radius: 6px;
}
.bilderm {
  margin-top: 11px;
}

/*Linjer i produktliste*/


/*.linje {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  border-bottom-style: dotted;
  border-width: medium;
  border-color: #B5B0B0;
}*/


/*Bilder i produkt.html*/

.bilde-stor {
  width: 50%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.bilde-stor img {
  width: 100%;
}

/*Kjøp nå knapp*/

button {
  border: none;
  color: white;
  padding: 3px;
  margin-right: 13%;
  margin-bottom: 8%;
  float: right;
  width: 138px;
  height: 43px;
  background-color: #e65825;
  font-size: 20px;

}

/*Kul hover effekt*/

button:hover {
  background-color: #f89f1d;
}

/*Media queries
@media screen and (min-width: 480px) and (max-width: 600px) {
  body {

  }
}*/
