* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #D1D1D1;
  display: block;
}
h1, h2, h3, h4 {
  color: black;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
}

/*Header med hamburgermeny og logo*/

#head {
  width: 100%;
  height: 70px;
  background-color: white;
}
#logo {
  margin: 5px;
  width: 150px;
  padding: 6px;
}

/*Navigasjon i head*/

nav {
  float: right;
  padding: 10px;
}
#menu li {
  display: inline;
}

.produktliste {
  text-align: right;
  float: left;
  width: 96%;
padding: 19px;
border-bottom-style: dotted;
border-width: medium;
border-color: #B5B0B0;
}

.produktliste p{
  float: right;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 30px;
  padding: 20px;
  text-align: left;
  padding-right: 280px;
  font-family: Helvetica;
  font-size: 25px;
}

/*.produktliste img{
  display: block;
	margin: auto;
	max-width: 100%;
}*/

/*#produktliste li {
  list-style-type: none;
}*/
/*#produktliste,*/ .tekst {
  width: 97%;
  margin: auto;
    text-align: left;
}

.bilder, .bilderm {
  width: 80px;
  float: left;
  /*  padding: 8px; */
  border: solid 15px #FFF;
  border-radius: 6px;
}
.bilderm {
  margin-top: 11px;
}

/*Linjer i produktliste*/

.linje {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  border-bottom-style: dotted;
  border-width: medium;
  border-color: #B5B0B0;
}
/*Bilder i produkt.html*/
.bilde-stor{
  width: 60%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.bilde-stor img{
  width: 100%;
}
/*Media queries
@media screen and (min-width: 480px) and (max-width: 600px) {
  body {

  }
}*/
