* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #D1D1D1;
  display: block;
}
h1, h2, h3, button {
  color: black;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
}
h4 {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: black;
}

#head {
  /*width: 100vw;*/
  background-color: white;
}
#logo {
  margin: 5px;
  width: 150px;
  padding: 6px;
}

/*Fin hamburger første span*/
#hamburger-nav span:nth-child(1) {
  top: -1%;
}
/*Fin hamburger tredje span*/
#hamburger-nav span:nth-child(3) {
  bottom: -10px;
}
/*Global for span hamburger*/
#hamburger-nav span{
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
}
/* Styling for the navigation when viewed on mobile. */
nav ul.mobile-nav {
  text-align: center;
  display: block;
  width: 100%;
  background: rgba(1, 1, 1, 0.4);
  border-radius: 5px;
}

nav ul.mobile-nav li {
  display: block;
  margin-right: 100px;
  width: 100%;
}

nav ul.mobile-nav li a {
  color: white;
}

nav ul.mobile-nav li a.active {
  border-bottom: none;
  color: white;
}

/*Tester om denne fungerer*/
#hamburger-nav{
  position: absolute;
  right: 10%;
  top: 20px;
  cursor: pointer;
  padding: 10px 35px 5px 10px;
  display: none;
}
.show{
  display: block !important;
}
header a{
  border-bottom: 0;
}
.produktliste {
  float: left;
  width: 90%;
  padding: 19px;
  height: 135px;
  margin-top: 10px;
  border-bottom-style: dotted;
  border-width: medium;
  border-color: #B5B0B0;
}

/*.produktliste p*/
#infotekst {
  font-family: Helvetica;
  padding-left: 38%;
  font-size: 15px;
  width: 63%;
  margin-top: -42%;
}

}
#infotekst p {
  font-style: italic;
}
.knapper {
  float: right;
  width: 160px;
  padding: 10px;
  padding-right: 15%;
  margin-top: 60%;
}
#bildeknapper {
  margin-top: -55%;
  margin-left: 10%;
}

/*#produktliste,*/
.tekst {
  width: 95%;
  margin: auto;
  text-align: left;
}
.bilder, .bilderm {
  width: 25%;
  border: solid 15px #FFF;
  border-radius: 6px;
}
.bilderm {
  margin-top: 11px;
}

/*Bilder i produkt.html*/
.bilde-stor {
  width: 100vw;
  text-align: center;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bilde-stor img {
  width: 50%;
  padding: 2px 0 2px 0;
}

/*fikser bildegalleri med piler*/
#pil-left, #pil-right {
  margin-top: 26%;
  padding: 2%;
  height: 30px;
  width: 30px;
}
#pil-right {
  float: left;
}
#pil-left {
  float: right;
}

/*Kjøp nå knapp*/
button {
  border: none;
  color: white;
  padding: 3px;
  margin-right: 12%;
  margin-bottom: 3%;
  float: right;
  width: 138px;
  height: 43px;
  background-color: #e65825;
  font-size: 20px;
}

/*fikser kjøpknapp på produkt.html*/
#kjopknappprodukt {
  margin-right: 5%;
}

/*Kul hover effekt*/
button:hover {
  background-color: #f89f1d;
}

/*Fikser view på prototypen som visast på produksjonsrapporten*/
@media only screen and (min-width: 186px) and (max-width: 186px) {
  #logo {
    width: 70px;
    padding: 2px;
    margin: 6px;
  }
  .produktliste {
    height: auto;
    width: 99vw;
    padding: 5% 0 0 0;
  }
  #infotekst, p {
    font-size: 0.8em;
  }
  h1 {
    font-size: 0.9em;
  }
  .knapper {
    padding-top: 5%;
    float: left;
    margin-left: 41px;
    width: 70px;
  }
  .bilder, .bilderm {
    border: solid 5px #FFF;
    border-radius: 6px;
    margin-left: 3%;
  }
  button {
    width: 70px;
    height: 30px;
    font-size: 0.7em;
    margin: 0px;
  }
  .huskeliste {
    width: 70px;
  }
  .menu {
    font-size: 0.8em;
  }
  .tekst h2, .tekst p {
    font-size: 0.7em;
  }
  a {
    font-size: 0.8em;
  }
  #hamburger-nav{
    top: 10px;
    right: 5%;
  }
  #hamburger-nav span{
    height: 3px;
    width: 20px;
  }
  /*Fin hamburger første span*/
  #hamburger-nav span:nth-child(1) {
    top: 3.5px;
  }
  /*Fin hamburger tredje span*/
  #hamburger-nav span:nth-child(3) {
    bottom: -4px;
  }
}
